@if(trailer) {
<form [formGroup]="trailerURLFormGroup" (ngSubmit)="updateTrailerURL()">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" [value]="trailer"
            [formControl]="trailerURLFormControl">
        <label for="floatingInput">Trailer Link</label>
    </div>
    <div class="col" style="display: flex; justify-content: flex-end;">
        <button type="button" class="btn btn-outline-secondary m-1" (click)="backHome()">Cancel</button>
        <button class="btn btn-primary m-1" type="submit">Update</button>
    </div>
</form>
}
@if(movie) {
<div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile" accept=".mp4" (change)="onFileSelect($event)">
</div>

<!-- Progress bar -->
<div class="progress" role="progressbar" aria-label="Example with label" [attr.aria-valuenow]="uploadProgress"
    aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" [style.width]="uploadProgress + '%'">{{ uploadProgress }}%</div>
</div>

<!-- Buttons for cancel and upload -->
<div class="col m-1" style="display: flex; justify-content: flex-end;">
    <button class="btn btn-outline-secondary m-1" type="button" (click)="backHome()">Cancel</button>
    <button class="btn btn-primary m-1" type="button" (click)="upload()"
        [disabled]="isUploading || !file">Upload</button>
</div>

}
