@if(data) {
<div class="hero">
    <div class="backdrop">
        <div class="lazyloaded">
            <img alt="{{data.title}}" class="lazyload image" [src]="data.backdrop" />
        </div>
    </div>
    <div class="pane">
        <div>
            <h1 class="name" [routerLink]="[data.title]">
                {{data.title}}
            </h1>
            <div class="meta">
                <div class="rating">
                    <div class="stars">
                        <div [style.width.%]="100"></div>
                    </div>
                    <div *ngIf="data.vote_count > 0">
                        {{ data.vote_count }} Reviews
                    </div>
                </div>
                <div class="info">
                    <span *ngIf="data?.release_date">{{ data.release_date}}</span>
                </div>
            </div>
            <div class="desc">
                {{ data.overview }}
            </div>
            <button *ngIf="data.movie" type="button" class="button button--icon trailer" (click)="openTrailer()">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="#fff">
                        <path d="M3 22v-20l18 10-18 10z"></path>
                    </svg>
                </span>
                <span class="txt">Watch Trailer</span>
            </button>
        </div>
    </div>
</div>

<app-modal></app-modal>
}