<div class="hero">
  <ng-container *ngFor="let hero of data?.result; let i = index">
    <div class="hero-slide" *ngIf="current === i" @fade>
      <div class="backdrop">
        <div class="lazyloaded">
          <img alt="{{hero?.title}}" class="lazyload image" src="{{hero?.backdrop}}">
        </div>
      </div>
      <div class="pane">
        <div>
          <h1 class="name" [routerLink]="[hero.movie]">
            {{hero?.title}}
          </h1>
          <div class="meta">
            <div class="rating">
              <div class="stars">
                <div [style.width.%]="hero.rating*20"></div>
              </div>
            </div>
            <div class="info">
              <span *ngIf="hero?.release_date">{{ hero?.release_date }}</span>
            </div>
          </div>
          <div class="desc">
            {{ hero.overview | truncate }}
          </div>
          <button *ngIf="hero.trailer" type="button" class="button button--icon trailer"
            (click)="openTrailer(hero.trailer, hero.title, hero.backdrop)">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
                <path
                  d="m380-300 280-180-280-180v360ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z" />
              </svg>
            </span>
            <span class="txt">Play Trailer</span>
          </button>
          <button *ngIf="hero.movie" type="button" class="button button--icon movie"
            (click)="openMovie(hero.movie, hero.title, hero.backdrop)">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="m160-800 80 160h120l-80-160h80l80 160h120l-80-160h80l80 160h120l-80-160h120q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Zm0 240v320h640v-320H160Zm0 0v320-320Z" />
              </svg>
            </span>
            <span class="txt">Play Movie</span>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<main class="content">

  @if(data.result && data.result.length>=1) {
  <div class="mobile-content" @fade>
    <section class="content__main" [style]="'background-image: url(' + data.result[0].backdrop + ');'">

      <div class="content__container">

        <div class="content__info container">

          <img [ngSrc]="data.result[0].poster_path" [width]="300" [height]="450" [alt]="data.result[0].title">

          <div class="content__data">

            <h2>{{ data.result[0].title }}</h2>

            <h4>Overview</h4>
            <p>{{data.result[0].overview}}</p>

            @if (data.result[0].movie) {
            <button (click)="openTrailer(data.result[0].trailer||'', data.result[0].title, data.result[0].poster_path)"
              class="play-trailer">
              Play Trailer
            </button>
            }

            <h4>Categories</h4>

            <div class="content__data--categories">
              @for (genre of data.result[0].genres; track genre) {
              <button mat-raised-button color="primary" aria-label="Genres" disabled>{{genre}}</button>
              }
            </div>

          </div>

        </div>

      </div>

    </section>
    <section class="content__data-mobile">
      <div>
        <div>
          <h1 class="name" [routerLink]="[data.result[0].movie]">
            {{data.result[0].title}}
          </h1>
          <div class="meta">
            <div class="rating">
              <div class="stars">
                <div [style.width.%]="data.result[0].rating*20"></div>
              </div>
            </div>
            <div class="info">
              <span *ngIf="data.result[0]?.release_date">{{ data.result[0].release_date }}</span>
            </div>
          </div>
          <div class="desc">
            {{ data.result[0].overview | truncate }}
          </div>
        </div>
        <div class="play-buttons">
          <button *ngIf="data.result[0].trailer" type="button" class="button button--icon trailer"
            (click)="openTrailer(data.result[0].trailer, data.result[0].title, data.result[0].backdrop)">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
                <path
                  d="m380-300 280-180-280-180v360ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z" />
              </svg>
            </span>
            <span class="txt">Play Trailer</span>
          </button>
          <button *ngIf="data.result[0].movie" type="button" class="button button--icon movie"
            (click)="openMovie(data.result[0].movie, data.result[0].title, data.result[0].backdrop)">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="m160-800 80 160h120l-80-160h80l80 160h120l-80-160h80l80 160h120l-80-160h120q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Zm0 240v320h640v-320H160Zm0 0v320-320Z" />
              </svg>
            </span>
            <span class="txt">Play Movie</span>
          </button>
        </div>
      </div>
    </section>
  </div>
  }
</main>

<app-modal #modal></app-modal>