@if(data){
<div class="left">
    <div class="poster">
        <!-- Poster for Movies or TV Shows -->
        <img *ngIf="data?.poster_path" alt="{{ data.title }}" class="lazyload" [src]="data.poster_path" />
    </div>
</div>
<div class="right">
    <div class="overview">
        <h2 class="title">Storyline</h2>
        <!-- Bio for Movies or TV Shows -->
        <div *ngIf="data?.overview">{{data.overview}}</div>
    </div>
    <div class="stats">
        <ul class="nolist">
            <li *ngIf="data?.release_date">
                <div class="label">Released</div>
                <div class="value">{{ data.release_date }}</div>
            </li>

            <li *ngIf="data.runtime">
                <div class="label">Runtime</div>
                <div class="value">{{ data.runtime | minutesToTime}}</div>
            </li>
            <li *ngIf="data.genre?.length">
                <div class="label">Genre</div>
                <div class="comma_" *ngFor="let gen of data?.genre">
                    <a>{{ gen }}</a>
                </div>
            </li>
            <li *ngIf="data?.status">
                <div class="label">Status</div>
                <div class="value">{{data.status}}</div>
            </li>
            <li *ngIf="data?.lang?.length">
                <div class="label">Language</div>
                <div class="comma_">
                    <a>{{ data.lang }}</a>
                </div>
            </li>
        </ul>
    </div>
</div>
}