<div class="container manage-container">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': movieTitle.invalid && movieTitle.touched}" id="movieTitle"
                        placeholder="Movie Title" [formControl]="movieTitle">
                    <label for="movieTitle">Movie Title</label>
                    <div class="invalid-feedback">
                        Please enter the movie title
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': movieLang.invalid && movieLang.touched}" id="movieLang"
                        placeholder="English" [formControl]="movieLang">
                    <label for="movieLang">Language</label>
                    <div class="invalid-feedback">
                        Please specify the movie language.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="number" min="1" max="300" class="form-control"
                        [ngClass]="{'is-invalid': movieRuntime.invalid && movieRuntime.touched}" id="movieRuntime"
                        placeholder="Movie Runtime" [formControl]="movieRuntime">
                    <label for="movieRuntime">Movie Runtime (Minutes)</label>
                    <div class="invalid-feedback">
                        Please specify the movie runtime.
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="movieOverview" class="form-label">Movie Overview</label>
            <textarea class="form-control" [ngClass]="{'is-invalid': movieOverview.invalid && movieOverview.touched}"
                id="movieOverview" placeholder="Movie Overview" [formControl]="movieOverview"></textarea>
            <div class="invalid-feedback">
                Please provide the movie overview
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': movieGenres.invalid && movieGenres.touched}" id="movieGenre"
                        placeholder="Movie Genre" [formControl]="movieGenres">
                    <label for="movieGenre">Movie Genre (comma separated)</label>
                    <div class="invalid-feedback">
                        Please specify the movie genre.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': movieReleaseDate.invalid && movieReleaseDate.touched}"
                        id="movieReleaseDate" placeholder="Movie Release Date (YYYY-MM-DD)"
                        [formControl]="movieReleaseDate">
                    <label for="movieReleaseDate">Movie Release Date (YYYY-MM-DD)</label>
                    <div class="invalid-feedback">
                        Please specify the movie release date.
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <select class="form-select" [ngClass]="{'is-invalid': movieRating.invalid && movieRating.touched}"
                        id="movieRating" [formControl]="movieRating">
                        <option value="1">1 Star</option>
                        <option value="2">2 Star</option>
                        <option value="3">3 Star</option>
                        <option value="4">4 Star</option>
                        <option selected value="5">5 Star</option>
                    </select>
                    <label for="movieRating">Movie Rating</label>
                    <div class="invalid-feedback">
                        Please specify the movie rating.
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="moviePoster"
                        [ngClass]="{'is-invalid': moviePoster.invalid && moviePoster.touched}" placeholder="Poster"
                        [formControl]="moviePoster">
                    <label for="moviePoster">Movie Poster Link</label>
                    @if(moviePoster.value){
                    <div class="invalid-feedback">
                        Malformed Link
                    </div>
                    } @else {
                    <div class="invalid-feedback">
                        Please provide the link
                    </div>
                    }
                    @if(moviePoster.value && moviePoster.valid) {
                    <div class="movie-img">
                        <img [src]="moviePoster.value" class="img-fluid rounded" alt="Unable to load Poster Image"
                            style="max-width: 100%; max-height: 100%;">
                    </div>
                    }
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="movieBackdrop"
                        [ngClass]="{'is-invalid': movieBackdrop.invalid && movieBackdrop.touched}"
                        placeholder="Movie Backdrop" [formControl]="movieBackdrop">
                    <label for="movieBackdrop">Movie Backdrop Link</label>
                    @if(movieBackdrop.value){
                    <div class="invalid-feedback">
                        Malformed Link
                    </div>
                    } @else {
                    <div class="invalid-feedback">
                        Please provide the link
                    </div>
                    }
                    @if(movieBackdrop.value && movieBackdrop.valid) {
                    <div class="movie-img">
                        <img [src]="movieBackdrop.value" class="img-fluid rounded" alt="Unable to load Backdrop Image"
                            style="max-width: 100%; max-height: 100%;">
                    </div>
                    }
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit-button" [disabled]="movieForm.invalid">Submit</button>
    </form>
</div>

<!-- toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast align-items-center text-white bg-success border-0"
        [ngClass]="{'show': toast.show, 'hide': !toast.show, 'bg-success': toast.success, 'bg-danger': !toast.success}"
        role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @if(toast.success) {
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                } @else {
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                }
                {{toast.message}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<!-- end of toast -->